<html><head>
    <style type="text/css">
body {
  color: #ccc; font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
  font-size: 16px;
  line-height: 1.5;
  padding: 0px;
  margin: 0px;
  background-color: #181818;
  background-image: url("bg.png");
}
table { border: 1px solid #333 }
td { border: 1px solid #333; padding: 10px; }
th { background-color: #353535; padding: 10px; }
a { color: #4f8cc9; text-decoration: none }
a:visited { color: #4f8cc9 }
a:hover { text-decoration: underline }
.content {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: #181818;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.copyright {
  margin-top: 50px;
  text-align: center;
}
    </style>
  </head>
  <body>
    <div class="content">
      {{ readme }}
      <div class="copyright">
        (c) 2021-2022 <a href="https://www.bohemia-automation.com/">Bohemia
          Automation</a> / <a href="https://www.altertech.com/">AlterTech</a>,
        <a
          href="https://github.com/alttch/yedb">https://github.com/alttch/yedb</a>
      </div>
    </div>
  </body>
</html>
