<html><head>
    <style type="text/css">
body { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 14px; padding: 30px; }
table { border: 1px solid black }
td { border: 1px solid black }
th { background-color: #bbb }
    </style>
  </head>
  <body>
    {{ content }}
    <div align="center">(c) 2021 <a href="https://www.altertech.com/">AlterTech</a>, <a href="https://github.com/alttch/yedb">https://github.com/alttch/yedb</a></div>
  </body>
</html>
